.margin-small {
  margin-bottom: 1rem;
  @include media(">=tablet", "<desktop") {
    margin-bottom: 0.7rem;
  }
}
.margin-medium {
  margin-bottom: 3.5rem;
  @include media(">=tablet", "<desktop") {
    margin-bottom: 3.2rem;
  }
}
.margin-small-top {
  margin-top: 1.5rem;
  @include media(">=tablet", "<desktop") {
    margin-top: 1.2rem;
  }
}
.font-small {
  font-size: 1.5rem;
}
