<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
</head>
<body>
    <div class="wrapper">

        <main class="main_section">
            <header class="main_section_header">
                <span class="main_section_header_name">
                    Profile
                </span>
            </header>

            <section class="user_image">
                
            </section>
        </main>

        <footer class="footer">
            <div class="icon_holder">
                <img class="icon_image" src="../assets/dash_icons/home.svg" alt="">
                <p class="icon_label"> Home </p>
            </div>

            <div class="icon_holder">
                <img class="icon_image" src="../assets/dash_icons/user.svg" alt="">
                <p class="icon_label"> Profile </p>
            </div>

            <div class="icon_holder">
                <img class="icon_image" src="../assets/dash_icons/document.svg" alt="">
                <p class="icon_label"> Reports </p>
            </div>
        </footer>
    </div>

    <script src="../assets/js/dashboard.js"></script>
</body>
</html>